<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Signup</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    
    {% if page == 'login' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username">
        
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password">
        
        <input type="submit" value="Login">
        </form>
    
        <p>Don't have an account?</p>
        <a href="{% url 'register' %}">Signup</a>
    </div>
    
    {% else %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
            
        </form>
    
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
    
    {% endif %}
{% endblock %}
</body>
</html>